.Home {
  height: 60vh;
}

.Home .lander {
  padding: 0px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: rgba(6, 70, 113, 1);
}

.Home .lander h4 {
  color: rgba(184, 75, 3, 1);
}

.Home .lander p {
  color: rgba(21, 67, 114, 1);
}

.info-text {
  font-size: 14px;
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.home-container {
  position: relative;
  height: 100%;
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 40px;
}

.home-container  h1{
  color: grey;
  font-size: 50;
}

.home-container  h2{
  color: rgba(184, 75, 3, 1);
  font-size: 50;
}

.home-container  h5{
  color: grey;
  font-weight: bold;
  padding-bottom: 20px;
}

.home-title {
  padding-top: 40px;
  padding-bottom: 20px;
}

.jumbotron {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.marker-tooltip {
  position: absolute;
  padding: 8px;
  background: rgba(255,255,255, 0.8);
  color: #000;
  max-width: 400px;
  min-width: 300px;
  font-size: 14px;
  z-index: 9;
  pointer-events: none;
  opacity: 1,
}
