.ant-btn.expand-drawer-button {
    position: absolute;
    margin: 0 auto;
    margin-top: -75px;
    z-index: 9999;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    padding-bottom: .5rem;
    right: 0;
    margin-right: 3rem;
    background-color: #eeeeee;

    &:hover {
        background-color: #ffffff;
    }
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: 0px!important;
}

.ant-checkbox-wrapper {
    display: block;
    width: 100%;
}

button.ant-btn.reset-stream {
    margin-top: -1rem;
    display: block;
}

.site-drawer-render-in-current-wrapper {
  position: relative;
  overflow: hidden;
  text-align: center;
  background: #fafafa;
  border: 1px solid #ebedf0;
  border-radius: 2px;
}